<TCustomM2SrvConfigure>
	<ServerIndex>0</ServerIndex>
	<ServerID>0</ServerID>
	<ServerName>江山如画</ServerName>
	<NetPassWord/>
	<Minimize>True</Minimize>
	<ServerNumber>0</ServerNumber>
	<VentureServer>False</VentureServer>
	<TestServer>True</TestServer>
	<TestLevel>1</TestLevel>
	<TestGold>0</TestGold>
	<TestServerUserLimit>1000</TestServerUserLimit>
	<ServiceMode>True</ServiceMode>
	<NonPKServer>False</NonPKServer>
	<ViewHackMessage>False</ViewHackMessage>
	<ViewAdmissionFailure>False</ViewAdmissionFailure>
	<DiscountForNightTime>False</DiscountForNightTime>
	<HalfFeeStart>2</HalfFeeStart>
	<HalfFeeEnd>10</HalfFeeEnd>
	<HumLimit>30</HumLimit>
	<ZenLimit>5</ZenLimit>
	<MonLimit>30</MonLimit>
	<DupZenLimit>5</DupZenLimit>
	<DupMonLimit>10</DupMonLimit>
	<NpcLimit>5</NpcLimit>
	<SocLimit>10</SocLimit>
	<DecLimit>20</DecLimit>
	<SendBlock>1024</SendBlock>
	<CheckBlock>9500</CheckBlock>
	<SocCheckTimeOut>50</SocCheckTimeOut>
	<AvailableBlock>8000</AvailableBlock>
	<GateLoad>0</GateLoad>
	<UserFull>2000</UserFull>
	<ZenFastStep>300</ZenFastStep>
	<ProcessMonstersTime>10</ProcessMonstersTime>
	<RegenMonstersTime>200</RegenMonstersTime>
	<HumanGetMsgTimeLimit>200</HumanGetMsgTimeLimit>
	<GenMonRate>10</GenMonRate>
	<CloundSpeedCheck>False</CloundSpeedCheck>
	<MonFindPathInterval>0</MonFindPathInterval>
	<StaticSpeedHackErrorRate>0</StaticSpeedHackErrorRate>
	<ProcessMonsterRunInterval>2</ProcessMonsterRunInterval>
	<GuildDir>.\GuildBase\Guilds\</GuildDir>
	<GuildFile>.\GuildBase\GuildList.txt</GuildFile>
	<CastleDir>.\Castle\</CastleDir>
	<CastleFile>.\Castle\List.txt</CastleFile>
	<SortDir>.\Sort\</SortDir>
	<EnvirDir>.\Envir\</EnvirDir>
	<MapDir>.\Map\</MapDir>
	<LogDir>.\Log\</LogDir>
	<VarsDir>.\Envir\Vars\</VarsDir>
	<GateAddr>127.0.0.1</GateAddr>
	<GatePort>5000</GatePort>
	<DBAddr>127.0.0.1</DBAddr>
	<DBPort>6000</DBPort>
	<IDSAddr>127.0.0.1</IDSAddr>
	<IDSPort>5600</IDSPort>
	<MsgSrvAddr>127.0.0.1</MsgSrvAddr>
	<MsgSrvPort>4900</MsgSrvPort>
	<LogEnabled>True</LogEnabled>
</TCustomM2SrvConfigure>
